@model RealEstateWebUI.Areas.client.Models.ProductClientViewModel
@using PagedList.Mvc;
@using RealEstateWebUI.Areas.admin.Models;

@{
    ViewBag.Title = Common.StoreName + " | Danh sách sản phẩm";
    Layout = "~/Areas/client/Views/Shared/MasterPageClient.cshtml";
}

@Html.Partial("~/Areas/client/Views/Shared/_TopBarWhite.cshtml")

<div class="header-page" style="background-image: url('/assets/images/home/slide/back-ground.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h4>Danh sách sản phẩm</h4>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 header-page-right" style="margin: 10px 0;">
                <i class="fa fa-home"></i>
                <a href="/">Trang chủ</a> / Sản phẩm
            </div>
        </div>
    </div>
</div>

@{Html.RenderAction("getAll", new { controller = "collections", area = "client" }); }

@using (Html.BeginForm("index", "products", new { view = "list" }))
{
    <div class="order-display-product">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-7 col-xs-12">
                    <div class="row">
                        <div class="btn btn-group">
                            <a href="/client/products/?view=grid" class="btn btn-default"><i class="styleViewIsGrid text-muted fa fa-th-large"></i></a>
                            <a href="/client/products/?view=list" class="btn btn-default"><i class="styleViewIsList text-muted fa fa-th-list"></i></a>
                        </div>
                        <span style="display: inline-block; margin-left: 13px;">Hiển thị 1 - 9 của 125 sản phẩm (15 trang)</span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12 order-display-product-content">
                    <div class="row">
                        <span>Sắp xếp</span>
                        <select id="sortListProduct_Grid" onchange="changeSortListProduct('list')" style="height: 40px;">
                            <option value="">Thứ tự</option>
                            <option value="name-asc">Theo tên từ a-z</option>
                            <option value="name-desc">Theo tên từ z-a</option>
                            <option value="create-desc">Mới nhất</option>
                            <option value="best-selling">Bán chạy</option>
                        </select>
                        <span style="margin-left: 20px">Hiển thị</span>
                        <input id="numberView" type="text" name="9" value="@Model.numberView" style="height: 40px;width: 40px" onchange="changeSortListProduct('list')" />
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="products-body">
        <div class="products-list">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                        @if (Model.Products != null && Model.Products.Count > 0)
                            {
                                foreach (var item in Model.Products)
                                {
                            <div class="product-list-row">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <a href="/client/products/@item.ProductID">
                                            @{
                                                        var urlImage = "";
                                                        if (item != null && item.Images != null && item.Images.Count > 0)
                                                        {
                                                            urlImage = item.Images[0].ImageUrl;
                                                        }
                                            }
                                            <img src="@urlImage" alt="" style="width: 100%" />
                                        </a>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                        <a href="/client/products/@item.ProductID"><h4>@item.ProductName</h4></a>
                                        <p>
                                            @Html.Raw(item.ProductContent)
                                        </p>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">
                                        <img class="number-star" src="~/assets/images/home/body/product/number-star.jpg" alt="" />
                                        <p>
                                            @if (item.Variants != null && item.Variants.Count > 0)
                                                    {
                                                    <span class="price">
                                                        @RealEstateWebUI.Areas.admin.UtilzGeneral.SNumber.ToNumber(item.Variants[0].VariantPrice) ₫
                                                    </span>
                                                    <span class="price-product">
                                                        @RealEstateWebUI.Areas.admin.UtilzGeneral.SNumber.ToNumber(item.Variants[0].CompareWithPrice) ₫
                                                    </span>
                                                    }
                                        </p>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <button class="btn btn-default" onclick="buyProduct(@item.Variants[0].VariantID, 1)">
                                                        <i class="fa fa-shopping-cart"></i>
                                                        MUA HÀNG
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <button class="btn btn-default">
                                                        <i class="fa fa-heart"></i>
                                                    </button>
                                                    <button class="btn btn-default">
                                                        <i class="fa fa-retweet"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                            }
                                                        }
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="row">
                            <div class="banner-right-product pull-left">
                                <div class="fill" style="background-image: url('/assets/images/product_list/banner.jpg')">
                                </div>
                                <div class="banner-right-product-text">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h2>PHÒNG NGỦ</h2>
                                            <h1>HIỆN ĐẠI</h1>
                                            <h4>Phong cách Châu Á</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="paging-product">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    @Html.PagedListPager(Model.Products, pageNumber => Url.Action("index", new
               {
                   view = "list",
                   pageNumber,
                   numberView = Model.numberView,
                   sortOrder = Model.sortOrder
               }))
                </div>
            </div>
        </div>
    </div>

                                                }
<script>
    $(document).ready(function () {
        var view = "@Model.view";
        viewOrderProducts(view);
    });
</script>