@model RealEstateWebUI.Areas.admin.Models.LogOnModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <link href="~/assets/admin/favicon.ico" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Common.StoreName Đăng nhập</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/veneto-admin.min.css")
    @Styles.Render("~/Content/font-awesome.css")
    @Styles.Render("~/assets/css/admin/mycss.css")
    <style>
        .body-sign-in {
            background-color: rgb(6,124,188);
        }

            .body-sign-in .form-container {
                margin-top: 90px;
                max-width: 500px;
            }
    </style>
</head>
<body class="body-sign-in">
    <div class="container">
        <div class="panel panel-default form-container">
            <div class="panel-body">
                @using RealEstateWebUI.Areas.admin.Models;
                @using (Html.BeginForm(System.Web.Mvc.FormMethod.Post))
                {
                    <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />
                    @Html.AntiForgeryToken();
                    <div class="form-group text-center">
                        <a href="/"><img src="/assets/images/logo_bizweb.png" alt="bizweb" /></a>
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @type = "text", @placeholder = "Nhập email" })
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                    if (!string.IsNullOrEmpty(ViewBag.Fail))
                    {
                        <div style="color: red; text-align: center;">@ViewBag.Fail</div>
                    }
                    <div class="form-group">
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Nhập mật khẩu" })
                        @Html.ValidationMessageFor(model => model.Password)

                    </div>
                    <div class="form-group">
                        @Html.CheckBoxFor(model => model.RememberMe)
                        @Html.LabelFor(model => model.RememberMe, new { @class = "control-label" })
                        @Html.ValidationMessageFor(model => model.RememberMe)
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-block btn-lg" value="Đăng nhập">
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>