@model RealEstateWebUI.Areas.admin.Models.Product
@using RealEstateWebUI.Areas.admin.Models;
@using System.Web.Mvc.Html
@{
    ViewBag.Title = Common.StoreName + " | Thêm mới sản phẩm";
    Layout = "~/Areas/admin/Views/Shared/_MasterPage.cshtml";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "productForm", enctype = "multipart/form-data" }))
{
    <div class="page-heading page-heading-md">
        <span>
            <i class="fa fa-tag fa-2x"></i>
        </span>
        <a href="/admin/products/"><span class="title">Sản phẩm</span></a> <span class="title"> / Thêm mới sản phẩm</span>
        <div class="pull-right">
            <input type="button" id="btnSave" class="btn btn-primary" value="Thêm mới" onclick="submitSaveCreateProduct()" />
        </div>
    </div>
    <div class="container-fluid-md">
        <div class="row">
            <div class="col-sm-12">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div id="strMessage"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <h4>Thông tin sản phẩm</h4>
                <p class="text-muted">
                    Cung cấp thông tin về tên, mô tả loại sản phẩm và nhà sản xuất để phân loại sản phẩm này.
                </p>
            </div>
            <div class="col-sm-9">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    @Html.LabelFor(model => model.ProductName, new { @class = "control-label strong" }) <span class="asterisk">*</span>
                                </div>
                                <div class="col-sm-12">
                                    @Html.TextBoxFor(model => model.ProductName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.ProductName)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    @Html.LabelFor(model => model.ProductContent, new { @class = "control-label strong" })
                                </div>
                                <div class="col-sm-12">
                                    @Html.TextAreaFor(model => model.ProductContent, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ProductContent)
                                    <script>CKEDITOR.replace('ProductContent');</script>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div id="showShortDescription" class="col-sm-12">
                                    <a href="javascript:;" onclick="showShortDescription();">Thêm mô tả ngắn</a>
                                </div>
                                <div class="hide" id="shortDescription">
                                    <div class="col-sm-12">
                                        @Html.LabelFor(model => model.ProductShortDescription, new { @class = "control-label strong" })
                                    </div>
                                    <div class="col-sm-12">
                                        @Html.TextAreaFor(model => model.ProductShortDescription)
                                        @Html.ValidationMessageFor(model => model.ProductShortDescription)
                                        <script>CKEDITOR.replace(ProductShortDescription);</script>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div>
                                        @Html.LabelFor(model => model.ProductStyleID, new { @class = "control-label strong" })
                                        <span class="note">ví dụ: Xe đạp, Áo sơ mi ...</span>
                                    </div>
                                    <div>
                                        @Html.DropDownListFor(model => model.ProductStyleID, Model.ProductStyles, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.ProductStyleID)
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div>
                                        @Html.LabelFor(model => model.SupplierID, new { @class = "control-label strong" })
                                    </div>
                                    <div>
                                        @Html.DropDownListFor(model => model.SupplierID, Model.Suppliers, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.SupplierID)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            @*<div class="col-sm-3">
                <h4>Danh mục</h4>
                <p class="text-muted">Thêm sản phẩm vào danh mục sản phẩm</p>
                <div id="multiplePruducts">
                    <a class="btn btn-default" href="javascript: void(0)" data-id="" data-toggle="modal" data-target="#allCollection" onclick="viewCollections(@Model.ProductID)">Thêm vào danh mục</a>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            @if (Model.CollectionProducts == null || Model.CollectionProducts.Count <= 0)
                            {
                                <div class="form-group text-center text-muted">
                                    <i class="fa fa-tag fa-5x"></i>
                                    <h3>Chưa thuộc danh mục nào</h3>
                                </div>
                            }
                            else
                            {
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <table class="table table-hover vert-align">
                                            <colgroup>
                                                <col />
                                                <col width="90%" />
                                                <col width="10%" />
                                            </colgroup>
                                            @foreach (var item in Model.CollectionProducts)
                                            {
                                                <tr>
                                                    <td>
                                                        @if (!string.IsNullOrEmpty(item.Collection.CollectionImage))
                                                        {
                                                            <img src="@item.Collection.CollectionImage" width="50" height="50" />
                                                        }
                                                        else
                                                        {
                                                            <img src="/assets/images/no-image-50-50.png" class="product-thumb product-image-is-blank" width="50" height="50" />
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (!string.IsNullOrEmpty(item.Collection.CollectionName))
                                                        {
                                                            @Html.ActionLink(item.Collection.CollectionName, "detail", "collections", new { id = item.CollectionID }, null)
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (item.Collection.CollectionType == "custom")
                                                        {
                                                            <a id="remove-collect-@item.ID" href="javascript:void(0)" onclick="removeCollectionProduct(@item.ID,@item.ProductID,0)">
                                                                X
                                                            </a>
                                                            <input type="hidden" value="@item.ProductID" name="productIds">
                                                        }
                                                        else
                                                        {
                                                            <label class="text-muted">TỰ ĐỘNG</label>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                </div>
            </div>*@
        </div>
        <div class="row">
            <div class="col-sm-3">
                <h4>Ảnh</h4>
                <p class="text-muted">Đăng và sửa ảnh của sản phẩm</p>
                <p class="text-muted">Lưu ý: Size mỗi file ảnh không được vượt quá 1 MB.</p>
            </div>
            <div class="col-sm-9">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-sm-12 form-group text-right">
                            <a href="javascript: void(0)" onclick="openUploadImageCreateProduct()">Thêm ảnh sản phẩm</a>
                            <input class="hide" type="file" name="MultipleImage" id="MultipleImage" accept="image/*" onchange="UploadFileCreateProduct()" />
                        </div>
                        <div class="row">
                            <div id="displayImageProduct">
                                <div class="" id="noImageDisplay" style="text-align: center">
                                    <i class="fa fa-picture-o fa-5x"></i>
                                    <h4>Thêm ảnh cho sản phẩm</h4>
                                </div>
                                <div class="hide" id="imageAdd">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <h4>Quản lý kho và tùy chọn</h4>
                <p class="text-muted">Bạn có thể cấu hình nhiều phiên bản và quản lý kho cho từng loại của sản phẩm này</p>
            </div>
            <div class="col-sm-9">
                <div class="panel panel-default">
                    <div class="panel-body form-bordered">
                        <div class="form-group">
                            <h4><b>Đặt giá</b></h4>
                            <div class="row">
                                <div class="col-sm-6">
                                    @Html.LabelFor(model => model.Variant.VariantPrice, new { @class = "control-label" })
                                    <div class="input-group">
                                        <span class="input-group-addon">đ</span>
                                        @Html.TextBoxFor(model => model.Variant.VariantPrice, new { @class = "form-control", @type = "number" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Variant.VariantPrice)
                                </div>
                                <div class="col-sm-6">
                                    @Html.LabelFor(model => model.Variant.CompareWithPrice, new { @class = "control-label" })
                                    <div class="input-group">
                                        <span class="input-group-addon">đ</span>
                                        @Html.TextBoxFor(model => model.Variant.CompareWithPrice, new { @class = "form-control", @type = "number" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Variant.CompareWithPrice)
                                </div>
                                <div class="col-sm-12">
                                    <div class="checkbox checkbox-inline">
                                        @Html.CheckBoxFor(model => model.Variant.Textable)
                                        @Html.LabelFor(model => model.Variant.Textable, new { @class = "control-label" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Variant.Textable)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <h4><b>Kho hàng</b></h4>
                            <div class="row">
                                <div class="col-sm-6">
                                    @Html.LabelFor(model => model.Variant.VariantSKU, new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.Variant.VariantSKU, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Variant.VariantSKU)
                                </div>
                                <div class="col-sm-6">
                                    @Html.LabelFor(model => model.Variant.VariantBarcode, new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.Variant.VariantBarcode, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Variant.VariantBarcode)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <h4><b>Vận chuyển</b></h4>
                            <div class="row">
                                <div class="col-sm-6">
                                    @Html.LabelFor(model => model.Variant.VariantWeight, new { @class = "control-label" })
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.Variant.VariantWeight, new { @class = "form-control", @type = "number" })
                                        @Html.HiddenFor(model => model.Variant.WeightUnit)
                                        <div class="input-group-btn">
                                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                                                <span id="weight-unit">kg</span>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                @foreach (var item in Model.Variant.Units)
                                                {
                                                <li><a href="javascript:void(0)" onclick="changeWeightUnit('@item')">@item</a></li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Variant.VariantWeight)
                                </div>
                                <div class="col-sm-12">
                                    <div class="checkbox checkbox-inline">
                                        @Html.CheckBoxFor(model => model.Variant.RequireShipping)
                                        @Html.LabelFor(model => model.Variant.RequireShipping, new { @class = "control-label" })
                                        @Html.ValidationMessageFor(model => model.Variant.RequireShipping)
                                    </div>
                                </div>
                            </div>
                        </div>
                        @Html.HiddenFor(model => model.AutoGenerate)
                        @Html.HiddenFor(model => model.Variant.VariantID)
                        <div class="form-group">
                            <h4><b>Tùy chọn</b></h4>
                            <div class="row" style="margin-bottom:20px;">
                                <div class="col-sm-12">
                                    Sản phẩm này có nhiều tùy chọn như kích thước, màu sắc?
                                    <div class="pull-right">
                                        <button id="btnCreateOption" class="btn btn-primary" type="button" onclick="toggleAutoGenerate()">Thêm tùy chọn</button>
                                        <button id="btnDisposeOption" class="btn btn-default hide" type="button" onclick="toggleAutoGenerate()">Hủy</button>
                                    </div>
                                </div>
                            </div>
                            <div id="variants-option" class="row hide" style="background:#f5f6f7; margin-left: -15px; margin-right: -15px; padding: 20px">
                                <table id="options" class="table" width="100%">
                                    <colgroup>
                                        <col style="width:25%">
                                        <col style="width:65%">
                                        <col style="width:10%;">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th style="">Tên thuộc tính</th>
                                            <th style="padding-left:10px;">Giá trị</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="options option1">
                                            <td>
                                                @Html.TextBox("Options[0].OptionName", null, new { @class = "form-control optionName" })
                                            </td>
                                            <td class="option-value option-value1">
                                                <input class="taginput" name="Options[0].OptionValue" type="text" data-role="tagsinput" value="" style="display: none;" onchange="changeListVariant()">
                                            </td>
                                            <td class="removeOption_1 hide">
                                                <a onclick="removeOption_CreateProduct(0)">
                                                    <i class="fa fa-trash-o fa-2x"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a class="btn btn-default addNewOption" href="javascript:void(0)" onclick="addNewOption_CreateProduct()">Thêm option</a>
                                <div class="list_variant hide" style="margin-top:20px">
                                    @Html.LabelForModel("", "Thay đổi những tùy chọn, bỏ tích để không tạo")
                                    <table class="table" width="100%">
                                        <colgroup>
                                            <col style="padding-left: 7px; padding-right: 7px; width: 12px;">
                                            <col>
                                            <col style="width:100px;">
                                            <col style="min-width:100px;">
                                            <col style="min-width:100px;">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th> </th>
                                                <th> Tùy chọn </th>
                                                <th> Giá </th>
                                                <th> Mã sản phẩm </th>
                                                <th> Mã barcode </th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <h4>Tags</h4>
                <p class="text-muted">Tag có thể được dùng để phân loại các sản phẩm.</p>
            </div>
            <div class="col-sm-9">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    @Html.LabelFor(m => m.Tags, new { @class = "control-label strong" })
                                    <input class="taginput" name="Tags" type="text" data-role="tagsinput" value="" style="display: none;">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    Bạn có thể chọn những tag đã được sử dụng
                                    @if (Model.ListTag != null && Model.ListTag.Count > 0)
                                    {
                                    <div class="col-button-colors">
                                        @foreach (var item in Model.ListTag)
                                            {
                                        <a class="btn btn-info" onclick="addTag(this)">@item.TagName</a>
                                            }
                                    </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <h4>Tối ưu SEO</h4>
                <p class="text-muted">Thiết lập thẻ tiêu đề, thẻ mô tả, đường dẫn. Những thông tin này xác định cách danh mục xuất hiện trên công cụ tìm kiếm.</p>
            </div>
            <div class="col-sm-9">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <div>
                                        @Html.LabelFor(model => model.ProductTitleCard, new { @class = "control-label strong" })
                                    </div>
                                    <div class="">
                                        @Html.TextBoxFor(model => model.ProductTitleCard, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.ProductTitleCard)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <div>
                                        @Html.LabelFor(model => model.ProductDescriptionCard, new { @class = "control-label strong" })
                                    </div>
                                    <div class="">
                                        @Html.TextAreaFor(model => model.ProductDescriptionCard, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.ProductDescriptionCard)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <div>
                                        @Html.LabelFor(model => model.ProductAlias, new { @class = "control-label strong" }) <span class="asterisk">*</span>
                                    </div>
                                    @using RealEstateWebUI.Areas.admin.Models;
                                    <div class="">
                                        <div class="input-group">
                                            <span class="input-group-addon">@Common.UrlHost</span>
                                            @Html.TextBoxFor(model => model.ProductAlias, new { @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.ProductAlias)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <h4>Trạng thái</h4>
            </div>
            <div class="col-sm-9">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="row">@Html.RadioButton("ProductState", "true", true) Hiển thị</div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">@Html.RadioButton("ProductState", "false") Ẩn </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}

<div class="modal fade" id="deleteImage">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title">Xóa ảnh</h4>
            </div>
            <div class="modal-body">
                Bạn chắc chắn muốn xóa ảnh
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="submit" class="btn btn-primary" onclick="submitDeleteImageAddProduct()"> Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<script>
    if (typeof ProductDetail != "object") {
        ProductDetail = {};
    }
    ProductDetail.optionIndex = 1;
    ProductDetail.countOption = 1;

    window.onload = function () {
        $('input[name=ProductName]').keyup(function () {
            $('input[name=ProductTitleCard]').val($('input[name=ProductName]').val());
            $('input[name=ProductAlias]').val($('input[name=ProductName]').val());
        });
    };
</script>
<script src="~/assets/js/admin/product.js"></script>